@font-face {
    font-family:Josefin;
    src:url(fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family:Nova;
    src:url(fonts/Nova_Oval/NovaOval-Regular.ttf);
}
@font-face {
    font-family:Comfortaa;
    src:url(fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf)
}

@keyframes menutableloadin {
    from {transform: translateY(-200%);}
    to {transform:translateY(0%);}
}

@keyframes logoloadin {
    from {opacity:0%; color:white;}
    to {opacity:100%; color:black;}
}

@keyframes backgroundloop {
    0% {color:#00AAFF;}
    50% {color:#FFFFFF;}
    100% {color:#00AAFF;}
}

@keyframes backgroundloadin {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

body {
    background-color:hsl(210, 17%, 99%);
    color: black;
    font-family: 'Comfortaa';
    border: 0px;
    margin: 0px;
    padding: 10px;
}

/*
@keyframes newsroomgradient {
    0%{background-color:#22222222;}
    50%{background-color:#00FFFFAA;}
    100%{background-color:#22222222;}
}
*/ 

@keyframes newsroomloadin {
    from{transform:translateX(-5%);opacity:0%;}
    to{transform:translateY(0%);opacity: 100%;}
}

.backgroundtext {
    position:absolute; 
    font-weight: bolder; 
    text-align:center; 
    font-size: 128px; 
    z-index:-1; 
    user-select: none; 
    color: transparent;

    text-shadow: 0 0 15px #FFFFFF10;
}

.logo {
    text-align:center; 
    font-size:100%;
    padding-bottom:20px;
    color: cyan;
    font-family:Nova;
    word-spacing:100%;
    font-weight:bolder;
    font-size:150%;
    
    margin-left:auto;
    margin-right:auto;

    animation-name:logoloadin;
    animation-duration:2s;
}

.menutable {
    width:100%;
    font-size:150%;
    color:black;
    background-color:#eeeeeeee;
    text-align: center;

    margin-left:auto;
    margin-right:auto;

    border: 1;
    border-style: none;
    border-color:white;
    border-width: 0px;
    border-radius:15px;

    padding-top:10px;
    padding-bottom:10px;

    position:sticky;
    z-index:100;

    animation: menutableloadin;
    animation-duration:2s;
    animation-iteration-count: 1;
}

.menuselection {
    color:black;
    text-decoration:none;
}

.menuselection:hover {
    font-weight:bolder;
}

.section-a {
    background-color:transparent;
    padding-bottom: 250px;
    padding-top: 50px;
}

.section-b {
    background-color:#aaaaaaee;
    padding-top:50px;
    padding-bottom: 550px;
    border-radius:50px;
}

.newsroom {
    background-color: #eeeeeeee;
    color:black;
    width: 50%;
    height: 100%;
    margin-left: 100px;
    border-width: thick;
    border-style: none;
    border-color:white;
    border: 1;

    border-radius: 25px;

    padding:25px;

    float:left;
    
    animation:newsroomloadin 1s 1;
}

.storewindow {
    background-color: #eeeeeeee;
    color:black;
    width: 30%;
    height: 100%;
    font-weight:bolder;
    font-size:150%;
    text-align:center;
    margin-right: 100px;
    border-width: thick;
    border-style: none;
    border-color:white;
    border: 1;

    float:right;

    z-index:auto;

    border-radius: 25px;

    padding:25px;
}