body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Light'
}

.tdefault1 {
    margin-left: auto;
    margin-right: auto;
    border-width: thick;
    border-style: solid;
    border-color:white;
    border: 4;
}